* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    padding: 30px;
    margin: 30px;
}

.box-txt{
    font-size: 30px;
    color: blue;
    font-weight: bold;
    text-align: center;
}